@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: 'Roboto', sans-serif;
  block-size: 100%;
  color-scheme: light;
  transition: var(--tra);

  &[data-theme="dark"] {
    color-scheme: dark;

    @supports not (color-scheme: dark) {
      background-color: #131313; 
    }
  }
}

html {
  scroll-behavior: smooth;
}
header{
  margin-top: 20px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-bottom: 32px;}
}