@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}
header{
  margin-top: 20px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-bottom: 32px;}
}