// ❗️❗️❗️Головний файл стилів❗️❗️❗️

@import './base/common';
@import './base/reset';

@import './components/modal_card.scss';
@import './components/modal-contributors';
@import './components/container';
@import './components/button';
@import './components/auth-modal';
@import './components/movie_card';

@import './utils/vars';
@import './utils/hidden';

@import './layout/header-home';
@import './layout/header_library';
@import './layout/footer';
@import './layout/plug';
