/* Домінатний колір основного тексту #000000 */
/* Вторинний колір тексту, акцент #b92f2c */

/* Основний фон білий #f0f0f0 */

/* Транзішин: час - 250ms; розподіл часу - cubic-bezier(0.4, 0, 0.2, 1) */

:root {
  --primary-text-color: #000000;
  --secondary-color: #b92f2c;
  --primary-white-color: #f0f0f0;
  --tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --primary-background-color: #f0f0f0;
}
