<header class="header-home" id="header-home">
  <div class="container">
    <div class="header-home__wrapper">
        <nav class="home-nav">
          <ul class="home-nav__list">
            <li class="home-nav__item">
              <a
                class="home-nav__btn home-nav__btn--home btn--active"
                href="./index.html"
              >
                Home
            </a>
            </li>
            <li class="home-nav__item lib__btn">
              <a class="home-nav__btn home-nav__btn--library" href="./library.html">
                My Library
              </a>
            </li>
            <li class="home-nav__item">
              <button class="btn  auth_lib"></button>
              <!-- <button type="button" class="auth-btn auth-btn--modal auth-modal-open">
                <svg class="" width="16" height="16">
                  <use
                    href="./img/symbol-defs.svg#icon-login-svgrepo-com"
                  ></use>
                </svg>
              </button> -->
            </li>
          </ul>
        </nav>
        <form class="header-form">
          <div class="header-form__search">
            <input
              type="text"
              name="search"
              class="header-form__input"
              placeholder="Movie Search"
            />
            <button type="submit" class="header-form__btn">
              <svg class="header-form__icon">
                <use
                  href="./img/symbol-defs.svg#icon-header-home-search"
                ></use>
              </svg>
            </button>
          </div>
          <div class="header-home-warning">Search result not successful. Enter the correct movie name.</div>
        </form>
      </div>
      <div class="header-logo">
        <a href="./index.html" class="header-logo__link">
          <svg class="header-logo__film" width="32" height="32">
            <use
              class="header-logo__icon"
              href="./img/symbol-defs.svg#icon-header-home-logo"
            ></use>
          </svg>
          <span class="header-logo__name">Filmoteka</span>
        </a>
      </div>
    </div>
  </div>
  </div>
</header>