<header>
  <div class="container header_container">
      <div>
            <div class="btn_group">
                <a class="btn btn--bigger" href="./index.html">Home</a>
                <button class="btn btn--current">My Library</button>
            </div>
           <div class="logo_position"> <a href="./index.html" class="logo_lib">Filmoteka</a></div>
      </div>
        <div class="btn_group btn_lib">
            <button class="btn lib lib--active" href="#">Watched</button>
            <button class="btn  lib" href="#">Queue</button>
        </div>
       
  </div>
</header>

