<header class="header-home" id="header-home">
  <div class="container">
    <div class="header-home__wrapper">
      <nav class="home-nav">
        <ul class="home-nav__list">
          <li class="home-nav__item">
            <a class="home-nav__btn home-nav__btn--home btn--active" href="./index.html">
              Home
            </a>
          </li>
          <li class="home-nav__item lib__btn">
            <a class="home-nav__btn home-nav__btn--library" href="./library.html">
              My Library
            </a>
          </li>
          <li class="home-nav__item">
            <button class="btn auth_lib" id='home-auth-btn'></button>
            <!-- <button type="button" class="auth-btn auth-btn--modal auth-modal-open">
                <svg class="" width="16" height="16">
                  <use
                    href="./img/symbol-defs.svg#icon-login-svgrepo-com"
                  ></use>
                </svg>
              </button> -->
          </li>
        </ul>
      </nav>
      <form class="header-form">
        <div class="header-form__search">
          <input type="text" name="search" class="header-form__input" placeholder="Movie Search" />
          <button type="submit" class="header-form__btn">
            <svg class="header-form__icon">
              <use href="./img/symbol-defs.svg#icon-header-home-search"></use>
            </svg>
          </button>
        </div>
        <div class="header-home-warning">Search result not successful. Enter the correct movie name.</div>
      </form>
    </div>
    <div class="header-logo">
      <a href="./index.html" class="header-logo__link">
        <svg class="header-logo__film" width="32" height="32">
          <use class="header-logo__icon" href="./img/symbol-defs.svg#icon-header-home-logo"></use>
        </svg>
        <span class="header-logo__name">Filmoteka</span>
      </a>
      <button
      class="theme-toggle"
      id="theme-toggle"
      title="Toggles light & dark"
      aria-label="auto"
      aria-live="polite"
    >
      <svg
        class="sun-and-moon"
        aria-hidden="true"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <mask class="moon" id="moon-mask">
          <rect x="0" y="0" width="100%" height="100%" fill="white" />
          <circle cx="24" cy="10" r="6" fill="black" />
        </mask>
        <circle
          class="sun"
          cx="12"
          cy="12"
          r="6"
          mask="url(#moon-mask)"
          fill="#000"
        />
        <g class="sun-beams" stroke="#000">
          <line x1="12" y1="1" x2="12" y2="3" />
          <line x1="12" y1="21" x2="12" y2="23" />
          <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
          <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
          <line x1="1" y1="12" x2="3" y2="12" />
          <line x1="21" y1="12" x2="23" y2="12" />
          <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
          <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
        </g>
      </svg>
    </button>
    </div>
  </div>
  </div>
  </div>
</header>