<div class="modal-card__backdrop hidden" data-card-modal>
  <div class="modal-card">
    <button class="modal-card__close-btn" type="button" data-card-modal-close>
      <svg class="modal-card__icon-close" width="16" height="16">
        <use href="./img/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <button class="modal-card__watch-video" type="button">
      <svg class="modal-card__icon-play" width="45" height="45">
        <use href="./img/symbol-defs.svg#icon-play"></use>
      </svg>
    </button>
    <div class="modal-card__render"></div>
  </div>
</div>
