<div class="modal-contributors-backdrop modal-contributors-backdrop--is-hidden">
  <div class="modal-contributors">
    <button class="modal-contributors__close-btn" type="button">
      <svg class="modal-contributors__close-icon" width="24" height="24">
        <use href="./img/symbol-defs.svg#icon-modal-close"></use>
      </svg>
    </button>
    <p class="modal-contributors__title">OUR TEAM</p>
    <ul class="modal-contributors__list">
      <li class="modal-contributors__item">
        <a
          class="modal-contributors__link"
          href="https://github.com/SerhiiRepinskyi"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="modal-contributors__wrap">
            <img
              class="modal-contributors__photo"
              src="./img/developer-1.jpg"
              alt="developer"
              width="160"
            />
          </div>
          <p class="modal-contributors__name">Serhii Repinskyi</p>
          <p class="modal-contributors__position">team-leader</p>
          <svg class="modal-contributors__git-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-github-logo"></use>
          </svg>
        </a>
      </li>
      <li class="modal-contributors__item">
        <a
          class="modal-contributors__link"
          href="https://github.com/YuliyaITmas"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="modal-contributors__wrap">
            <img
              class="modal-contributors__photo"
              src="./img/developer-2.jpg"
              alt="developer"
              width="160"
            />
          </div>
          <p class="modal-contributors__name">Yuliya Maslyanenko</p>
          <p class="modal-contributors__position">scrum-master</p>
          <svg class="modal-contributors__git-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-github-logo"></use>
          </svg>
        </a>
      </li>
      <li class="modal-contributors__item">
        <a
          class="modal-contributors__link"
          href="https://github.com/AlenaBrusnikina"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="modal-contributors__wrap">
            <img
              class="modal-contributors__photo"
              src="./img/developer-3.jpg"
              alt="developer"
              width="160"
            />
          </div>
          <p class="modal-contributors__name">Alona Brusnikina</p>
          <p class="modal-contributors__position">developer</p>
          <svg class="modal-contributors__git-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-github-logo"></use>
          </svg>
        </a>
      </li>
      <li class="modal-contributors__item">
        <a
          class="modal-contributors__link"
          href="https://github.com/IgorVinnik85"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="modal-contributors__wrap">
            <img
              class="modal-contributors__photo"
              src="./img/developer-4.jpg"
              alt="developer"
              width="160"
            />
          </div>
          <p class="modal-contributors__name">Ihor Vinnik</p>
          <p class="modal-contributors__position">developer</p>
          <svg class="modal-contributors__git-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-github-logo"></use>
          </svg>
        </a>
      </li>
      <li class="modal-contributors__item">
        <a
          class="modal-contributors__link"
          href="https://github.com/M-Farmaha"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="modal-contributors__wrap">
            <img
              class="modal-contributors__photo"
              src="./img/developer-5.jpg"
              alt="developer"
              width="160"
            />
          </div>
          <p class="modal-contributors__name">Max Farmaha</p>
          <p class="modal-contributors__position">developer</p>
          <svg class="modal-contributors__git-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-github-logo"></use>
          </svg>
        </a>
      </li>
      <li class="modal-contributors__item">
        <a
          class="modal-contributors__link"
          href="https://github.com/mxm-kotyk"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="modal-contributors__wrap">
            <img
              class="modal-contributors__photo"
              src="./img/developer-6.jpg"
              alt="developer"
              width="160"
            />
          </div>
          <p class="modal-contributors__name">Maksym Kotyk</p>
          <p class="modal-contributors__position">developer</p>
          <svg class="modal-contributors__git-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-github-logo"></use>
          </svg>
        </a>
      </li>
      <li class="modal-contributors__item">
        <a
          class="modal-contributors__link"
          href="https://github.com/VolodyMer23"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="modal-contributors__wrap">
            <img
              class="modal-contributors__photo"
              src="./img/developer-7.jpg"
              alt="developer"
              width="160"
            />
          </div>
          <p class="modal-contributors__name">Volodymyr Merunka</p>
          <p class="modal-contributors__position">developer</p>
          <svg class="modal-contributors__git-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-github-logo"></use>
          </svg>
        </a>
      </li>
      <li class="modal-contributors__item">
        <a
          class="modal-contributors__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="modal-contributors__wrap">
            <img
              class="modal-contributors__photo"
              src="./img/developer-8.jpg"
              alt="developer"
              width="160"
            />
          </div>
          <p class="modal-contributors__name">Oleksii Volynets</p>
          <p class="modal-contributors__position">developer</p>
          <svg class="modal-contributors__git-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-github-logo"></use>
          </svg>
        </a>
      </li>
      <li class="modal-contributors__item">
        <a
          class="modal-contributors__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="modal-contributors__wrap">
            <img
              class="modal-contributors__photo"
              src="./img/developer-9.jpg"
              alt="developer"
              width="160"
            />
          </div>
          <p class="modal-contributors__name">Elena Mitsnyk</p>
          <p class="modal-contributors__position">developer</p>
          <svg class="modal-contributors__git-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-github-logo"></use>
          </svg>
        </a>
      </li>
      <li class="modal-contributors__item">
        <a
          class="modal-contributors__link"
          href="https://github.com/Kostiantyn1303"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="modal-contributors__wrap">
            <img
              class="modal-contributors__photo"
              src="./img/developer-10.jpg"
              alt="developer"
              width="160"
            />
          </div>
          <p class="modal-contributors__name">Kostiantyn Khymera</p>
          <p class="modal-contributors__position">developer</p>
          <svg class="modal-contributors__git-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-github-logo"></use>
          </svg>
        </a>
      </li>
      <li class="modal-contributors__item">
        <a
          class="modal-contributors__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="modal-contributors__wrap">
            <img
              class="modal-contributors__photo"
              src="./img/developer-11.jpg"
              alt="developer"
              width="160"
            />
          </div>
          <p class="modal-contributors__name">Mykola Klepak</p>
          <p class="modal-contributors__position">developer</p>
          <svg class="modal-contributors__git-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-github-logo"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
