<div class="modal-card__backdrop hidden" data-card-modal>
  <div class="modal-card">
    <button class="modal-card__close-btn" type="button" data-card-modal-close>
      <!-- <svg class="modal__check" width="24" height="24">
        <use href="./images/vectors.svg#icon-icon-menu-close"></use>
      </svg> -->
    </button>

    <p class="modal-card__title">A FISTFUL OF LEAD</p>

    <!-- <picture class="modal-card__pic">
      <source
        srcset="
          ./images/modal-about-product/chokolate-icecream-1x.jpg 1x,
          ./images/modal-about-product/chokolate-icecream-2x.jpg 2x
        "
      />
      <img
        class="modal-products__img"
        src="./images/modal-about-product/chokolate-icecream-1x.jpg"
        alt="Chocolate icecream"
        width="132"
      />
    </picture> -->

    <ul class="modal-card__film-information-list">
      <div class="modal-card__film-informattion-items-wrrapper">
        <li class="modal-card__film-information-items">Vote / Votes</li>
        <p class="modal-card__film-information__text">7.3/1260</p>
      </div>
      <div class="modal-card__film-informattion-items-wrrapper">
      <li class="film-information__items">
        Popularity
      </li>
      <p class="film-information__text">100.2</p></div>
      <div class="modal-card__film-informattion-items-wrrapper">
        Original Title
      </li>
      <p class="film-information__text">A FISTFUL OF LEAD</p></div>
      <div class="modal-card__film-informattion-items-wrrapper">
      <li class="film-information__items">
        Genre
      </li>
      <p class="film-information__text">Western</p></div>
    </ul>
    <p class="modal-card__subtitle">About</p>
    <p class="modal-card__text">
      Four of the West’s most infamous outlaws assemble to steal a huge stash of
      gold from the most corrupt settlement of the gold rush towns. But not all
      goes to plan one is killed and the other three escapes with bags of gold
      hide out in the abandoned gold mine where they happen across another gang
      of three – who themselves were planning to hit the very same bank! As
      tensions rise, things go from bad to worse as they realise the bags of
      gold are filled with lead... they’ve been double crossed – but by who and
      how?
    </p>
    <div class="modal-card__btn-wrapper">
    <button
      class="modal-card__watched-btn"
      type="button"
      data-card-modal-watched-film
    >add to Watched</button>
    <button
      class="modal-card__queue-btn"
      type="button"
      data-card-modal-queue-film
    >add to queue</button></div>
  </div>
</div>
