<!-- <div class="dark__wrap">
  <img
    class="dark"
    src="../img/no_movie_lib-dark@2x.jpg"
    alt="plug"
    width="280"
  />
</div>

<div class="light__wrap">
  <img
    class="light"
    src="../img/no_movie_lib-light@2x.jpg"
    alt="plug"
    width="280"
  />
</div> -->

<div class="dark__wrap">
  <picture class="dark">
    <source
        srcset="./img/no_movie_lib-dark@1x.jpg 1x, ./img/no_movie_lib-dark@2x.jpg 2x"
        media="(min-width: 1200px)" />
    <source
        srcset="./img/no_movie_lib-dark@1x.jpg 1x, ./img/no_movie_lib-dark@2x.jpg 2x"
        media="(min-width: 768px)" />
    <source
        srcset="./img/no_movie_lib-dark@1x.jpg 1x, ./img/no_movie_lib-dark@2x.jpg 2x"
        media="(min-width: 480px)" />
  </picture>
</div>

<div class="light__wrap">
  <picture class="light">
    <source
        srcset="./img/no_movie_lib-light@1x.jpg 1x, ./img/no_movie_lib-light@2x.jpg 2x"
        media="(min-width: 1200px)" />
    <source
        srcset="./img/no_movie_lib-light@1x.jpg 1x, ./img/no_movie_lib-light@2x.jpg 2x"
        media="(min-width: 768px)" />
    <source
        srcset="./img/no_movie_lib-light@1x.jpg 1x, ./img/no_movie_lib-light@2x.jpg 2x"
        media="(min-width: 480px)" />
  </picture>
</div>

