.auth-modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 24px;
  height: 42px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #b92f2c;
  background-color: #ffffff;
  border: transparent;
  border-radius: 100px;
  cursor: pointer;
  transition: color 200ms ease, background-color 200ms ease;
  z-index: 999;

  &:hover,
  &:focus-visible {
    color: #ffffff;
    background-color: #b92f2c;
  }
}

.auth-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000033;
  transition: opacity 250ms ease, visibility 250ms ease;
  z-index: 999;
}

.auth-modal-is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.auth-modal {
  display: flex;
  flex-direction: column;
  gap: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40vh);
  background-color: #ffffff;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 10px;
  width: 100%;
  max-width: 280px;
  padding: 40px 40px;

  @media screen and (min-width: 320px) {
    height: 360px;
  }

  @media screen and (min-width: 768px) {
    max-width: 400px;
    padding: 50px;
  }

  @media screen and (min-width: 1280px) {
    transform: translate(-50%, -50%);
  }

  .backdrop.auth-modal-is-hidden & {
    transform: translate(-50%, -50%) scale(1.2) translateY(100%);
  }
}

.auth-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  height: 30px;
  width: 30px;

  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-modal-close::after {
  content: ' ';
  width: 15px;
  height: 15px;
  background-image: url(../img/auth-close-btn.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }

  @media screen and (min-width: 1280px) {
    width: 22px;
    height: 22px;
  }
}

.auth-modal-close:hover::after {
  scale: 1.2;
}

.auth-modal-close:hover {
  background-color: #f3f3f3;
}

.auth-title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 100%;
  margin-bottom: 30px;
}

.form-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-input {
  padding: 10px;
  width: 100%;
  height: 42px;
  font-size: 14px;
  line-height: 16px;
  border: transparent;
  border-bottom: 1px solid black;
  color: #000000;
  // caret-color: #000000;
  background-color: #fff;
  outline: transparent;
  transition: border-color 200ms ease;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    padding: 12px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    padding: 15px;
  }

  &:focus {
    border-color: #b92f2c;
  }
  &::placeholder {
    color: transparent;
  }
  &:-webkit-autofill {
    -webkit-text-fill-color: #000000;
    caret-color: #000000;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  }
}

.auth-input-label {
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  transition: top 200ms ease;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  .auth-input:focus + &,
  .auth-input:not(:placeholder-shown) + & {
    top: -14px;
  }
  .auth-input:focus + & {
    color: #b92f2c;
  }
}

.input-wrapper {
  position: relative;
}

.auth-button {
  display: flex;
  align-items: center;
  text-align: center;
  align-self: center;
  height: 42px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #b92f2c;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 100px;
  cursor: pointer;
  transition: all 200ms ease;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  &:hover,
  &:focus-visible {
    color: #ffffff;
    background-color: #b92f2c;
    border: transparent;
  }
}

.auth-switch-form-text {
  font-size: 12px;
  line-height: 14px;
  color: #545454;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.auth-switch-form-button {
  font-size: 12px;
  line-height: 14px;
  text-decoration: underline;
  border: none;
  background: transparent;
  color: #000000;
  cursor: pointer;
  transition: color 200ms ease;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  &:hover,
  &:focus-visible {
    color: #b92f2c;
  }
}

.login-form-box {
  top: 0;
  opacity: 1;
  transition: all 350ms ease;
}

.login-hidden {
  top: -340px;
  opacity: 0;
}

.register-form-box {
  top: -340px;
  opacity: 1;
  transition: all 350ms ease;
}

.register-hidden {
  top: 0;
  opacity: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
