.gallery_wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 32px;
}

.cards__list,
.library-cards__list {
  display: flex;
  justify-content: center;
  row-gap: 20px;
  margin: 0 auto;
  flex-direction: column;
  flex: auto;
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    justify-content: left;
    row-gap: 32px;
    column-gap: 32px;
    flex-direction: row;
  }

  @media screen and (min-width: 1280px) {
    column-gap: 16px;
  }
}

.card-item {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background-color);
  transition: var(--tra);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  width: 280px;
  height: 445px;
  transition: var(--tra);

  @media screen and (min-width: 768px) {
    width: 335px;
    height: 495px;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
    height: 635px;
  }
  &:hover,
  &:focus {
    box-shadow: 1px 1px 10px 0px var(--secondary-color);
    transform: scale(1.03);
  }
}

.movie__poster {
  border-radius: 5px;
  width: 280px;
  height: 400px;
  object-fit: cover;
  @media screen and (min-width: 480px) {
    width: 280px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
    width: 335px;
    height: 455px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 575px;
    margin-bottom: 12px;
  }
}

.image__wrapper {
  display: flex;
  border-radius: 5px;
  width: 280px;
  height: 400px;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 8px;
  @media screen and (min-width: 480px) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 768px) {
    width: 335px;
    height: 455px;
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 575px;
    margin-bottom: 8px;
  }
}
.card-item__info-wrapper {
  padding-left: 5px;
}
.card-item__title {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-text-color);
  word-wrap: break-word;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.2;
  }
}

.card-item__info {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.card-item__genre {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--secondary-color);

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.2;
  }
}

.card-item__year {
  font-weight: 500;
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 1.33;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.2;
  }
}
