@charset 'utf-8';
.tui-pagination * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tui-page-btn.color-number {
  color: white;
}

.tui-ico-ellipsis,
.tui-ico-first,
.tui-ico-last,
.tui-ico-next,
.tui-ico-prev {
  overflow: hidden;
}

.tui-pagination {
  width: 374px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 60px;;
  line-height: normal;
  text-align: center;
  font-size: 0;
}

.tui-pagination .tui-page-btn {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 16px;
  margin-left: 0px;
  margin-right: 15px;
  color: #000000;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.333;
  text-decoration: none;
  vertical-align: middle;

}

.tui-pagination .tui-page-btn:hover {
    border-radius: 5px;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #fff;
  background: #ff6b08;
 
  cursor: default;
  width: 40px;
  height: 40px;
  padding-top: 12px;
  border-radius: 5px;
}


.tui-pagination .tui-first-child.tui-is-selected,
.tui-pagination strong.tui-first-child {
  margin-left: 0;
}


.tui-pagination .tui-prev,
.tui-pagination .tui-next {
  width: 40px;
  height: 40px;

  background: #f7f7f7;
  border-radius: 5px;

  overflow: hidden;
  padding: 0;
  font-size: 0;
  line-height: 40px;
  white-space: nowrap;
  font-weight: normal;
 
}

.tui-pagination .tui-first {
  display: inline-block;
}
.tui-pagination .tui-last {
  display: inline-block;
}

.tui-pagination .tui-prev-is-ellip {
  border-right: 0;
 
}

.tui-pagination .tui-next-is-ellip {
  border-left: 0;
 
}

.tui-pagination .tui-first + .tui-prev,
.tui-pagination .tui-next + .tui-last {
  border-left: 0;
}

.tui-pagination .tui-next {
  margin-left: 0px;
}

.tui-pagination .tui-ico-first {
  width: 11px;
  height: 10px;
  
}

.tui-pagination .tui-ico-prev {
  width: 16px;
  height: 16px;

  
  background: url('../img/arrow-left.svg') center;

  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  
}

.tui-pagination .tui-ico-next {
  width: 16px;
  height: 16px;
  
  background: url('../img/arrow-right.svg') center;

  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  
}



.tui-pagination .tui-ico-ellip {
  width: 10px;
  height: 2px;
  margin-top: 0px;
  color: black;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}

.tui-pagination .tui-is-disabled:hover {
  cursor: default;
}


.tui-page-inputs {
  display: inline-block;
  vertical-align: top;
}

.tui-page-inputs .tui-page-input {
  display: inline-block;
  width: 10px;
  height: 12px;
  font-size: 12px;
  text-align: center;
  color: #333;
  border: 0;
  outline: none;
}

.tui-page-inputs .tui-page-current {
  color: #ff6b08;
}

.tui-page-separator {
  display: inline-block;
  font-size: 12px;
  height: 12px;
  vertical-align: top;
}

.tui-pagination .tui-page-btn:nth-child(9) {
  margin-right: 10px;
}

.tui-pagination .tui-page-btn:nth-child(10) {
  margin-right: 10px;
}

.tui-pagination .tui-page-btn:nth-child(11) {
  margin-right: 0px;
}

@media screen and (max-width: 768px) {
  .tui-pagination {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .tui-pagination .tui-page-btn:nth-child(9) {
    margin-right: 0;
  }

  .tui-page-btn.tui-next.custom-class-next {
    margin-right: 0;
  }

  .tui-pagination .tui-first {
    display: none;
  }
  .tui-pagination .tui-last {
    display: none;
  }

  .tui-pagination .tui-prev-is-ellip {
    border-right: 0;
    display: none;
  }

  .tui-pagination .tui-next-is-ellip {
    border-left: 0;
    display: none;
  }
}