@charset 'utf-8';
.tui-pagination * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tui-page-btn.color-number {
  color: white;
}

.tui-ico-ellipsis,
.tui-ico-first,
.tui-ico-last,
.tui-ico-next,
.tui-ico-prev {
  overflow: hidden;
}

.tui-pagination {
  width: 374px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 60px;
  line-height: normal;
  text-align: center;
  font-size: 0;
}

.tui-pagination .tui-page-btn {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 16px;
  margin-left: 0px;
  margin-right: 10px;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.333;
  text-decoration: none;
  vertical-align: middle;
}

.tui-pagination .tui-page-btn:hover {
  transform: scale(1.05);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #fff;
  background: #b92f2c;

  cursor: default;
  width: 40px;
  height: 40px;
  padding-top: 12px;
  border-radius: 5px;
}

.tui-pagination .tui-prev,
.tui-pagination .tui-next {
  width: 40px;
  height: 40px;
  background: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #b92f2c;
  overflow: hidden;
  padding: 0;
  font-size: 0;
  line-height: 40px;
  white-space: nowrap;
  font-weight: normal;
}

.tui-pagination .tui-first {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #b92f2c;
  background: #f7f7f7;
}
.tui-pagination .tui-last {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #b92f2c;
  background: #f7f7f7;
}

.tui-pagination .tui-ico-first {
  display: none;
}

.tui-pagination .tui-ico-last {
  display: none;
}

.tui-pagination .tui-first::before {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('../img/arrow-double-first.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-flex;
  align-items: baseline;
  visibility: visible;
}

.tui-pagination .tui-last::before {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('../img/arrow-double-last.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-flex;
  align-items: baseline;
  visibility: visible;
}

.tui-pagination .tui-ico-prev {
  width: 16px;
  height: 16px;
  background: url('../img/arrow-left.svg') center;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}

.tui-pagination .tui-ico-next {
  width: 16px;
  height: 16px;
  background: url('../img/arrow-right.svg') center;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}

.tui-pagination .tui-is-disabled:hover {
  cursor: default;
}

.tui-page-inputs {
  display: inline-block;
  vertical-align: top;
}

.tui-page-inputs .tui-page-input {
  display: inline-block;
  width: 10px;
  height: 12px;
  font-size: 12px;
  text-align: center;
  color: #333;
  border: 0;
  outline: none;
}

.tui-page-inputs .tui-page-current {
  color: #b92f2c;
}

.tui-page-separator {
  display: inline-block;
  font-size: 12px;
  height: 12px;
  vertical-align: top;
}

@media screen and (max-width: 768px) {
  .tui-pagination {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .tui-pagination .tui-first {
    display: none;
  }
  .tui-pagination .tui-last {
    display: none;
  }

  .tui-pagination .tui-prev-is-ellip {
    display: none;
  }

  .tui-pagination .tui-next-is-ellip {
    display: none;
  }
}
