@import 'https://unpkg.com/open-props/easings.min.css';

.theme-toggle {
  display: flex;
  justify-content: center;
  border-color: transparent;
  border-radius: 100px;

  text-align: left;
  padding: 5px 5px;
  --size: 2rem;
  --icon-fill: #b92f2c;
  --icon-fill-hover: #7d1917;
  width: 80px;
  height: 40px;
  background-color: var(--primary-background-color);
  outline: none;
  cursor: pointer;

  outline-offset: 5px;

  & > svg {
    // inline-size: 100%;
    // block-size: 100%;
    // stroke-linecap: round;
  }

  [data-theme='dark'] & {
    --icon-fill: #ffffff;
    --icon-fill-hover: #a1a1a1;
  }

  @media (hover: none) {
    --size: 48px;
  }
}

.sun-and-moon {
  display: flex;
  width: 24px;
  height: 24px;
  & > :is(.moon, .sun, .sun-beams) {
    transform-origin: center center;
  }

  & > :is(.moon, .sun) {
    fill: var(--icon-fill);

    .theme-toggle:is(:hover, :focus-visible) > & {
      fill: var(--icon-fill-hover);
    }
  }

  & > .sun-beams {
    stroke: var(--icon-fill);
    stroke-width: 2px;

    .theme-toggle:is(:hover, :focus-visible) & {
      stroke: var(--icon-fill-hover);
    }
  }

  [data-theme='dark'] & {
    & > .sun {
      transform: scale(1.75);
    }

    & > .sun-beams {
      opacity: 0;
    }

    & > .moon > circle {
      transform: translateX(-7px);

      @supports (cx: 1) {
        transform: translateX(0);
        cx: 17;
      }
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    & > .sun {
      transition: transform 0.5s var(--ease-elastic-3);
    }

    & > .sun-beams {
      transition: transform 0.5s var(--ease-elastic-4),
        opacity 0.5s var(--ease-3);
    }

    & .moon > circle {
      transition: transform 0.25s var(--ease-out-5);

      @supports (cx: 1) {
        transition: cx 0.25s var(--ease-out-5);
      }
    }

    [data-theme='dark'] & {
      & > .sun {
        transform: scale(1.75);
        transition-timing-function: var(--ease-3);
        transition-duration: 0.25s;
      }

      & > .sun-beams {
        transform: rotateZ(-25deg);
        transition-duration: 0.15s;
      }

      & > .moon > circle {
        transition-delay: 0.25s;
        transition-duration: 0.5s;
      }
    }
  }
}
