.header_container {
  min-width: 280px;
  max-width: 280px;
  border-radius: 10px;
  padding: 14px 14px 24px 14px;
  background: rgba($color: #ff980d, $alpha: 0.9);
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 65.37%
    ),
    url('../img/orange_bcg_mobile.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    max-width: 704px;
    padding: 16px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    mix-blend-mode: multiply;
    background-image: url('../img/orange_bcg_desktop.jpeg'),
      linear-gradient(267.62deg, rgba(255, 156, 46, 0) 78.46%, #ffa225 97.43%);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1216px;
    padding: 16px 32px 32px 32px;
    mix-blend-mode: multiply;
    background-image: linear-gradient(
        267.62deg,
        rgba(255, 156, 46, 0) 78.46%,
        #ffa225 97.43%
      ),
      url('../img/orange_bcg_desktop.jpeg');

    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header_container {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.4) 65.37%
      ),
      url('../img/orange_bcg_mobile_2x.jpeg');
    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          267.62deg,
          rgba(255, 156, 46, 0) 78.46%,
          #ffa225 97.43%
        ),
        url('../img/orange_bcg_desktop_2x.jpeg');
    }
    @media screen and (min-width: 1280px) {
      background-image: linear-gradient(
          267.62deg,
          rgba(255, 156, 46, 0) 78.46%,
          #ffa225 97.43%
        ),
        url('../img/orange_bcg_desktop_2x.jpeg');
    }
  }
}
.btn_group {
  display: flex;
  gap: 4px;
  justify-content: start;

  @media screen and (min-width: 768px) {
    align-items: start;
    margin-bottom: 105px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 151px;
  }
}

.btn_lib {
  display: flex;
  justify-content: center;
}
.logo_position {
  @media screen and (max-width: 767px) {
    margin-top: 300px;
  }
}
.logo_lib {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: calc(38 / 32);
  transition: all 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    justify-content: start;
    padding: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
  }

  @media screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: calc(75 / 64);
  }
}

.logo_lib:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 0 0 0 #b92f2c,
    1px 1px 5px #b92f2c;
}

.logo_lib::before {
  margin-right: 8px;
  display: block;
  content: '';
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/film-svg.svg);
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: 1280px) {
    width: 59px;
    height: 59px;
  }
}
.logo_lib:hover::before {
  opacity: 0.8;
  animation: logo-rotate 2s linear infinite;
}

@keyframes logo-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.auth_lib {
  background-color: #000000;
  padding: 0 11px;

  height: 41px;
  @media screen and (min-width: 768px) {
    height: 42px;
    padding: 10px 12px;
  }
  @media screen and (min-width: 1280px) {
    height: 46px;
    padding: 12px 14px;
  }
}

.auth_lib::after {
  content: ' ';
  display: flex;

  width: 15px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url('../img/auth-icon.svg');
  background-size: cover;

  @media screen and (min-width: 768px) {
    width: 18px;
    height: 18px;
  }
  @media screen and (min-width: 1280px) {
    width: 18px;
    height: 18px;
  }
}
.auth {
  display: none;
}