.plug {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plug__title {
  display: flex;
  text-align: center;
  font-size: 32px;
  color: var(--secondary-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.plug__text {
  display: flex;
  font-size: 32px;
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.dark__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background-color);
  transition: var(--tra);
  border-radius: 5px;
  width: 280px;
  height: 445px;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    width: 320px;
    height: 495px;
  }
  @media screen and (min-width: 1280px) {
    width: 390px;
    height: 635px;
  }
}
